/*
Theme Name: 	Serene Theme
Theme URI: 		http://www.htmlfivedev.com
Author: 		Muffin group
Author URI: 	https://www.linkedin.com/in/ahmedmusawir
Description:	Custom Theme for Exclusive New Launch
Template:		betheme
Version: 		1.6
*/

/* LOADING STUFF
-------------------------------------------------------------- */

/**
 *
 * Colors
 *
 */
$stephani-green: #497F8C;
$stephani-red: #F15D61;
// $roy-green: #4cd697;
// $serene-green: #3c948b;
// $shaw-purple: #ec008c;
// $cheryl-purple: #B2398B;
// $cheryl-purple-dark: #7c0552;
// $cheryl-teal: #179a9b;
// $cheryl-teal: #28A0A0;
// $cheryl-gray: #545455;

/**
 *
 * File Imports
 *
 */
@import "bourbon/bourbon";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Custom Css
// @import "custom";

/**
 *
 * Google Fonts
 *
 */
//Stephani Fancy Font, black jack replacement 
@import url(https://fonts.googleapis.com/css?family=Montez);
//font-family: 'Montez', cursive;
//STEPHANI BASE FONT, REPLACEMENT FOR CENTURY GOTHIC
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
// @import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700italic,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Bevan);
// @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300,200,100);
// @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
// @import url(https://fonts.googleapis.com/css?family=Poiret+One);
// @import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
// @import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
// @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic);
// Import custom Bootstrap variables
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);


/* Theme customization starts here
-------------------------------------------------------------- */


body {
	// display: none;
	font-family: 'Muli', sans-serif;
}

ul {
	li {
		list-style: none;
	}
}

/**
 *
 * Site Nav MOBILE
 *
 */
.navbar {
	background-color: darken( $stephani-green, 17% );
	// display: none;
}

/**
 *
 * Site Nav [Desktop]
 *
 */


.nav-block {
	// float: left;
	// margin-left: 30rem;
	width: 100%;
	border: .6rem solid $stephani-green;
	@include border-bottom-radius(35px);

	@media ( max-width: 1199px ) {

	}

	.nav-top-red-block {
		min-height: 4rem;
		background-color: $stephani-red;
	} 	
	#site-navigation {

		.container {
			// padding-left: 4rem;

			#primary-menu {

				li {

					a {
						text-align: center;
						font-size: 3rem;
						@media ( max-width: 1199px ) {
							font-size: 2rem;
						}	
					}
				}
			}
		}
	}	
}

/**
 *
 * Front Page Styles: fp = front page
 *
 */
#fp-block-1 {
	// min-height: 500px;

	@media ( max-width: 600px ) {
		min-height: 500px;
		// border: 1px solid red;
	}
	
	background-image: url("_img/front-pg-header-bg.jpg");
	background-position: right;
	background-repeat: no-repeat;

	.block-wrap {
		@include background(linear-gradient( rgba( lighten( white, 70% ), .9 ), rgba( darken( white, 0%), 1 ) ) left repeat !important) ;
		// min-height: 900px;

	@media ( max-width: 600px ) {
		min-height: 500px;
		// border: 1px solid red;
	}		

		.logo {
			padding-top: 8rem;
		// border: 1px solid red;

		}

	}
}

#fp-block-2 {
	background-color: black;
	min-height: 400px;	
	// border: 1px solid yellow;
	color: lighten( $gray-light, 15% );
	text-align: center;

	hr {
	    border: none;
	    height: 4px;
	    /* Set the hr color */
	    color: $stephani-green; /* old IE */
	    background-color: $stephani-green; /* Modern Browsers */
	}


	.top-text-block {
		padding-top: 4rem;

		h4 {
			line-height: 3rem;
			font-size: 2.3rem;
			font-weight: 300;

			.social-media {
				font-weight: 500;
				font-family: 'Arial Black', sans-serif;				
			}
		}
	}

	.bottom-text-block {

		h2 {
			font-size: 5.5rem;
			color: lighten( $stephani-green, 20% );

			.statement {
				font-weight: 500;
				font-family: 'Arial Black', sans-serif;


			}
		}
	}
}

#fp-block-3 {
	background-color: $stephani-red;
	min-height: 500px;	
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 8rem;

		h4 {
			line-height: 3rem;
			font-size: 2.3rem;
			font-weight: 300;

			.special {
				font-weight: 500;
				font-family: 'Arial Black', sans-serif;				
			}
		}	

		h3 {
			font-size: 4rem;
			color: lighten( black, 20% );

			.special {
				font-weight: 500;
				font-family: 'Arial Black', sans-serif;
			}
		}	

		h1 {
			font-size: 6.5rem;
			color: lighten( $stephani-green, 20% );

			.special {
				font-weight: 500;
				font-family: 'Arial Black', sans-serif;
			}
		}					
}

#fp-block-4 {
	  background: url("_img/fp-blk-4-social-bg.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

	min-height: 600px;	

	.block-wrap {
		// background-color: rgba( $stephani-green, .9 );
		@include background(linear-gradient( rgba( lighten( $stephani-green, 0% ), .9 ), rgba( darken( white, 0%), .9 ) ) left repeat !important) ;
		min-height: 600px;	
		padding-bottom: 3rem;

		h2 {
			color: $smoke;
			padding-bottom: 2rem;
			margin-bottom: 4rem;
			border-bottom: 2px solid white;
			font-weight: 700px;
		}

		.social-left {
			// border: 1px solid red;
		}

		.social-right {

			.text-block {
				padding-top: 8rem;

				h1 {
					font-size: 5.5rem;
					padding-bottom: 2rem;

					@media ( max-width: 650px ) {
						font-size: 3.5rem;
					}
					@media ( max-width: 400px ) {
						font-size: 2.5rem;
					}					
				}
				.purpose {
					padding-top: 3rem;
					padding-left: 5rem;

					.special {
						font-weight: 500;
						font-family: 'Arial Black', sans-serif;
					}					
				}
				p {
					padding-left: 5rem;
					font-size: 1.5rem;
					font-weight: 200;
				}

				.btn-block {
					padding-top: 3rem;
					text-align: center;

					h4 {
						padding-bottom: 2rem;
					}
				}
			}			
		}

	}
}

#footer {
	background-color: $smoke;
	min-height: 150px;

	text-align: center;
	border-top: 1rem solid lighten( $gray-light, 20% );

	.footer-social {

		padding-top: 5rem;

		.social {
			li {
				display: inline-block;
				i {
					font-size: 3rem;
					padding-right: 2rem;
					// color: $stephani-red;
				}
			}
		}
	}

	.footer-nav {

		.nav {
			li {
				display: inline-block;
				font-family: "Arial Black", sans-serif;
				padding-right: 3rem;


				a {
					// border-right: 2px solid $stephani-red;
					// color: $gray;
				}
			}
		}
	}

	p {
		padding-top: 2rem;
		color: $stephani-green;
	}


}

#footer-call-out {
	background-color: darken( $stephani-red, 0% );
	min-height: 60px;


	.call-out {

		padding-top: 2rem;
		
		text-align: center;
		font-family: "Arial Black", sans-serif;
		
		.call-out-text {
			font-size: 2rem;
			padding-right: 2rem;
			color: white;
		}

		.btn.btn-success {
			margin-bottom: 1.2rem;
			background-color: transparent;
		}
		
	}
}





















